.news-list-container{
    padding-bottom: 30px;
    .title{
        padding: 5px 0;
        padding-left: 10px;
        border-left: 5px solid #108885;
        color: #108885;
    }
    .news-list{
        min-height: 200px;
        .news-item{
            height: 120px;
            border: 1px solid#cbd5e0;
            border-radius: 5px;
            padding: 15px 15px 0 15px;
            margin-bottom: 20px;
            display: flex;
            &__img{
                width: 80px;
                height: 80px;
                overflow: hidden;
                border-radius: 5px;
                & > img{
                    width: 100%;
                    display: block;
                    transform: scale(2.5) translateY(15%);
                }

            }
            &__content{
                width: 70%;
                margin-left: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                p{
                    font-weight: bold;
                    line-height: 1.2rem;
                    overflow: hidden;
                    display: -webkit-box; 
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    max-height: 3.2rem;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                span{
                    margin-top: 5px;
                    font-size: 14px;
                    color: #4a5568;
                    line-height: 1.2rem;
                    overflow: hidden;
                    display: -webkit-box; 
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    max-height: 3.2rem;
                }
            }
        }
        &__pagination{
            text-align: center;
        }
        // .ant-spin-dot-item{
        //     background-color: #108885;
        // }
    }
}