.analytics-container{
    width: 100%;
    background: #fff;
    padding: 10px;
    transition: all .4s ease;
    .analytics{
        & > h1{
            font-size: 20px;
            font-weight: bold;
        }
        &__info-card{
            border-radius: 5px;
            .card-group{
                display: flex;
                justify-content: space-between;
                .infected-card,
                .recovered-card,
                .deaths-card{
                    width: 32%;
                    border-radius: 5px;
                    text-align: center;
                    font-weight: bold;
                    height: 110px;
                    p{
                        margin-bottom: 0;
                        line-height: 40px;
                        font-size: 15.7px;
                    }
                }
                .infected-card{
                    background: #fff5f5;
                    &__title{
                        color: #e53e3e;
                    }
                    div.ant-card-head{
                        background: #fed7d7;
                    }
                    p{
                        color: #e53e3e;
                    }
                }
                .recovered-card{
                    background: #f0fff4;
                    &__title{
                        color: #38a169;
                    }
                    div.ant-card-head{
                        background: #c6f6d5;
                    }
                    p{
                        color: #38a169;
                    }
                }
                .deaths-card{
                    background: #edf2f7;
                    &__title{
                        color: #718096;
                    }
                    div.ant-card-head{
                        background: #e2e8f0;
                    }
                    p{
                        color: #718096;
                    }
                }
            }
        }
        &__info-table{
            margin-top: 15px;
            .table{
                width: 100%;
                overflow-x: scroll;
            }
        }
        &__line-chart{
            margin-top: 15px;
        }
        &__bar-chart{
            margin-top: 15px;
        }
        &__map{
            margin-top: 15px;
        }

        &__info-table,
        &__line-chart,
        &__bar-chart,
        &__map{
            border: 1px solid #cbd5e0;
        }
    }
}
.dark-analytics-container{
    width: 100%;
    background: #121212;
    padding: 10px;
    transition: all .4s ease;
    .analytics{
        & > h1{
            font-size: 20px;
            font-weight: bold;
            color: #b0b3b8;
        }
        &__info-card{
            border-radius: 5px;
            .card-group{
                display: flex;
                justify-content: space-between;
                .infected-card,
                .recovered-card,
                .deaths-card{
                    width: 32%;
                    border-radius: 5px;
                    text-align: center;
                    font-weight: bold;
                    height: 110px;
                    p{
                        margin-bottom: 0;
                        line-height: 40px;
                        font-size: 15.7px;
                    }
                }
                .infected-card{
                    background: #fff5f5;
                    &__title{
                        color: #e53e3e;
                    }
                    div.ant-card-head{
                        background: #fed7d7;
                    }
                    p{
                        color: #e53e3e;
                    }
                }
                .recovered-card{
                    background: #f0fff4;
                    &__title{
                        color: #38a169;
                    }
                    div.ant-card-head{
                        background: #c6f6d5;
                    }
                    p{
                        color: #38a169;
                    }
                }
                .deaths-card{
                    background: #edf2f7;
                    &__title{
                        color: #718096;
                    }
                    div.ant-card-head{
                        background: #e2e8f0;
                    }
                    p{
                        color: #718096;
                    }
                }
            }
        }
        &__info-table{
            margin-top: 15px;
            .table{
                width: 100%;
                overflow-x: scroll;
                div.ant-table{
                    background: #121212;
                    color: #b0b3b8;
                }
                th.ant-table-cell.ant-table-cell{
                    background: #121212;
                    color: #b0b3b8;
                }
                td.ant-table-cell.ant-table-cell{
                    background: #121212;
                    color: #b0b3b8;
                }
                .ant-pagination-item-link{
                    border-color: white;
                    background: none;
                    color: white;
                }
                li.ant-pagination-item.ant-pagination-item-active{
                    a{
                        color: #1890ff;
                    }
                }
                li.ant-pagination-item{
                    border-color: white;
                    background: none;
                    a{
                        color: white;
                    }
                }
            }
        }
        &__line-chart{
            margin-top: 15px;
        }
        &__bar-chart{
            margin-top: 15px;
        }
        &__map{
            margin-top: 15px;
        }

        &__info-table,
        &__line-chart,
        &__bar-chart,
        &__map{
            border: 1px solid #cbd5e0;
        }
    }
}

@media screen and (min-width: 576px){
    .analytics-container{
        padding: 10px 20px;
        .analytics{
            &__info-card{
                .card-group{
                    .infected-card,
                    .recovered-card,
                    .deaths-card{
                        &__title{
                            font-size: 15px;
                        }
                        p{
                            font-size: 23px;
                        }
                    }
                }
            }
        }
    }
    .dark-analytics-container{
        padding: 10px 20px;
        .analytics{
            &__info-card{
                .card-group{
                    .infected-card,
                    .recovered-card,
                    .deaths-card{
                        &__title{
                            font-size: 15px;
                        }
                        p{
                            font-size: 23px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){
    .dark-analytics-container{
        .analytics{
            &__info-table{
                .ant-select-selector{
                    background: none;
                    border-color: white;
                    color: white;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .analytics-container{
        min-height: 1310px;
        .analytics{
            & > h1{
                font-size: 24px;
            }
            &__info-card,
            &__info-table,
            &__line-chart,
            &__bar-chart,
            &__map{
                width: 49.5%;
            }
            &__info-card{
                float: left;
            }
            &__map{
                float: right;
                margin: 20px 0;
            }
            &__info-table{
                float: right;
                margin: 0;
            }
            &__line-chart{
                margin-top: 20px;
                float: left;
            }
            &__bar-chart{
                margin-top: 20px;
                float: left;
            }
        }
    }
    .dark-analytics-container{
        min-height: 1310px;
        .analytics{
            & > h1{
                font-size: 24px;
            }
            &__info-card,
            &__info-table,
            &__line-chart,
            &__bar-chart,
            &__map{
                width: 49.5%;
            }
            &__info-card{
                float: left;
            }
            &__map{
                float: right;
                margin: 20px 0;
            }
            &__info-table{
                float: right;
                margin: 0;
            }
            &__line-chart{
                margin-top: 20px;
                float: left;
            }
            &__bar-chart{
                margin-top: 20px;
                float: left;
            }
        }
    }
}